APP_PORT=8000
POSTGRES_DB=citas
POSTGRES_USER=citas_user
POSTGRES_PASSWORD=
POSTGRES_PORT=5434
DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
EMAIL_HOST=mailhog
EMAIL_PORT=1025
EMAIL_USE_TLS=False
SMS_PROVIDER_API_KEY=
RECORDATORIO_REINTENTOS=3
